.heading {
	font-family: var(--jost-font);
	font-size: var(--h2-size);
	line-height: 1;
	font-weight: 600;
	color: var(--violet);
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 1.75px 1.75px 0 var(--darker-violet);
}

/* Adaptability */

@media (max-width: 460px) {
	.heading {
		line-height: 0.95;
	}
}
