.carousel-section {
	width: 100%;
	height: auto;
}

.carousel {
	display: flex;
	align-items: center;
	column-gap: 10px;

	&__btn {
		font-family: var(--jsf-font);
		font-size: 2rem;
		padding: 5px 12.5px;
		border: 1px solid var(--spec);
		border-radius: 50%;
		transition-property: opacity, translate, color, border-color;
		transition-duration: 0.25s, 0.25s, 0.15s;

		&:focus-visible {
			color: var(--yellow);
			border-color: var(--add);
		}
	}

	&__card {
		width: 100%;
		height: auto;
		-webkit-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
	}
}

.window {
	width: 100%;
	height: auto;
	overflow: hidden;

	&:focus-visible {
		outline: 3px dashed var(--yellow);
		outline-offset: 3px;
		border-radius: 10px;
	}
}

.cards {
	display: flex;
}

.minimap {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	margin-top: 10px;

	&__btn {
		display: block;
		width: 1rem;
		height: 1rem;
		background-color: var(--add);
		border-radius: 50%;
		transition-property: scale, background-color;
		transition-duration: 0.25s;

		&:focus-visible {
			outline-offset: 2px;
			outline: 2px dashed var(--yellow);
		}

		&.--active {
			scale: 1.2;
			background-color: var(--violet);
		}
	}
}

/* Adaptability */

@media (max-width: 768px) {
	.carousel__btn {
		display: none;
	}
}

@media (max-width: 560px) {
	.minimap__btn {
		width: 0.85rem;
		height: 0.85rem;
	}
}

@media (max-width: 375px) {
	.minimap__btn {
		width: 0.75rem;
		height: 0.75rem;
	}
}

@media (hover: hover) {
	.carousel__btn {
		&:hover {
			color: var(--violet);
		}

		&:active {
			opacity: 0.8;
			translate: 0 2px;
		}
	}
}

@media (hover: none) {
	.carousel__btn:active {
		color: var(--violet);
	}
}
