.about {
	width: 100%;
	height: auto;
	padding: 50px 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 50px;
}

.info {
	max-width: 60%;
}

.buttons-wrapper {
	display: flex;
	align-items: center;
	column-gap: 25px;
	margin-top: 25px;

	&:nth-child(3) {
		svg {
			display: inline-block;
			width: 2rem;
			height: 2rem;
		}
	}
}

.heading {
	font-family: var(--jost-font);
	font-weight: 600;
	font-size: 1.65rem;
	margin-bottom: 5px;

	span {
		color: var(--violet);
		text-shadow: 1.75px 1.75px 0 var(--darker-violet);
	}
}

.portrait {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.image {
	width: clamp(120px, 35vw, 320px);
	height: auto;
	border-radius: 35px;
	z-index: 3;
}

.back_layer {
	width: clamp(150px, 35vw, 350px);
	height: clamp(150px, 35vw, 350px);
	position: absolute;
	background-color: var(--violet);
	border-radius: 40px;
	opacity: 0.5;
}

/* Adaptability */

@media (max-width: 768px) {
	.heading {
		line-height: 0.95;
	}

	.image {
		border-radius: 20px;
	}

	.back_layer {
		border-radius: 25px;
	}
}

@media (max-width: 660px) {
	.cover {
		flex-direction: column-reverse;
		justify-content: center;
		row-gap: 35px;
		column-gap: 0;
	}

	.heading {
		font-size: clamp(1.2rem, 6vw, 1.65rem);
		text-align: center;
		margin-bottom: 8px;
	}

	.info {
		max-width: 80%;

		p {
			width: 100%;
			text-align: center;
		}
	}

	.image {
		width: clamp(180px, 35vw, 320px);
		height: auto;
	}

	.back_layer {
		width: clamp(210px, 40vw, 350px);
		height: clamp(210px, 40vw, 350px);
	}
}

@media (max-width: 425px) {
	.info {
		max-width: 100%;

		p {
			font-size: 16px;
		}
	}
}
