.skills {
	padding: 0 25px 50px;
	margin-top: 50px;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
}

.heading {
	font-family: var(--jsf-font);
	font-size: 2.4em;
	margin-bottom: 25px;
	color: var(--violet);

	span {
		display: inline-block;
	}
}

.skills_list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;

	.item {
		flex-basis: 350px;
		height: 105px;
		padding: 25px 50px;
		border: 1px solid var(--border);
		border-radius: 10px;
		transition: 0.35s all;
		cursor: default;

		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			border-color: var(--add);
		}

		img {
			height: 100% !important;
			width: auto !important;
		}

		.list_heading {
			font-size: 1.5em;
			font-family: var(--jsf-font);
		}
	}
}
