.about {
	width: 100%;
	height: auto;
	padding: 0 25px;

	display: flex;
	align-items: center;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 100px 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 50px;
}

.info {
	max-width: 60%;
}

.heading {
	margin-bottom: 5px;

	span {
		color: var(--violet);
	}
}

.portrait {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image {
	width: 320px;
	height: 320px;
	border-radius: 35px;
	z-index: 3;
}

.back_layer {
	width: 350px;
	height: 350px;
	position: absolute;
	background-color: var(--violet);
	border-radius: 40px;
	opacity: 0.5;
}
