.history {
	.heading {
		margin-bottom: 25px;
		text-align: center;
		font-family: var(--jost-font);
		line-height: 1;
		font-size: var(--h3-size);
		font-weight: 600;

		span {
			font-weight: inherit;
			color: var(--violet);
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	&__card {
		width: 100%;
		display: flex;
		align-items: center;
		column-gap: 15px;

		h4 {
			font-size: 3rem;
			color: var(--violet);
			text-shadow: 2.5px 2.5px 1px var(--darker-violet);

			span {
				display: inline-block;
			}
		}

		p {
			max-width: 65%;

			i,
			b {
				color: var(--violet);
			}
		}

		&.--right {
			flex-direction: row-reverse;

			h4::before {
				left: -25%;
			}

			p {
				text-align: right;
			}
		}
	}
}

/* Adaptability */

// Tablet
@media (max-width: 768px) {
	.history__card {
		p {
			max-width: 80%;
		}
	}
}

@media (max-width: 625px) {
	.history__card {
		border-left: 5px solid var(--violet);
		padding-left: 5px;
		border-radius: 5px;

		&.--right {
			border-left: none;
			padding-left: 0;

			border-right: 5px solid var(--violet);
			padding-right: 5px;
		}

		h4 {
			display: none;
		}

		p {
			max-width: 100%;
		}
	}
}

// Large mobile
@media (max-width: 425px) {
}

// Average mobile
@media (max-width: 375px) {
	.history__card {
		border-radius: 3px;
		border-width: 3px;

		&.--right {
			border-width: 3px;
		}

		p {
			font-size: 16px;
		}
	}
}

// Small mobile
@media (max-width: 320px) {
}
