.heading {
	color: var(--light);
	font-size: var(--h3-size);
	font-family: var(--jost-font);
	line-height: 1;
	font-weight: bold;
	text-align: center;
	margin: 25px 0 15px;

	&:nth-child(2) {
		margin-top: 0 !important;
	}
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 35px;
}

.card {
	width: 200px;
	height: 225px;
	background-image: linear-gradient(
		-45deg,
		var(--darker-add) 40%,
		#404040,
		var(--darker-add) 60%
	);
	background-color: var(--darker-add);
	background-repeat: no-repeat;
	background-size: 200%;
	padding: 1.5em;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	&__img {
		height: 65%;
		margin-bottom: 15px;
	}

	&__title {
		font-family: var(--jsf-font);
		font-size: 1.5rem;
	}
}

.card::after,
.card::before {
	--angle: 0deg;

	content: "";
	display: block;
	position: absolute;
	width: 104%;
	height: 104%;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	border-radius: 10px;
	background: conic-gradient(from var(--angle), transparent 45%, var(--violet));
	animation: 3s border linear infinite;
}

.card::before {
	filter: blur(10px);
}

/* Animations */

@keyframes border {
	from {
		--angle: 0deg;
	}

	to {
		--angle: 360deg;
	}
}

/* Properties */

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

/* Adaptability */

@media (max-width: 520px) {
	.container {
		gap: 25px;
	}

	.card {
		width: 150px;
		height: 175px;

		&__img {
			width: 65%;
			margin-bottom: 10px;
		}

		&__title {
			font-size: 1.25rem;
		}
	}
}

@media (max-width: 390px) {
	.heading {
		margin: 35px 0 20px;
	}

	.card {
		width: 100%;
		height: 200px;

		&-wrapper {
			width: 80%;
		}

		&__img {
			height: 55%;
			max-width: 65%;
			margin-bottom: 15px;
		}
	}
}
