/* - Variables - */
:root {
	--main: #212121;
	--add: #3e3d3d;
	--violet: #5e0ecf;
	--light: #eaebed;
}

@import "./reset";

/* - Styling - */
html {
	scroll-behavior: smooth;
	font-size: 18px;
}

body {
	background-color: var(--main);
	color: var(--light);
	font-family: var(--pop-font);
}

.wrapper {
	max-width: 1140px;
	height: auto;
	margin: 0 auto;
}
