.heading-wrapper {
	width: 100%;
	margin: 50px 0 35px;
	display: flex;
	justify-content: center;
}

.blog-heading {
	display: inline;
	font-family: var(--jost-font);
	font-size: 2.6rem;
	font-weight: 600;
	color: var(--violet);
	text-shadow: 2.5px 2.5px 1px var(--darker-violet);
	position: relative;

	&::after {
		content: "by Qaddis";
		position: absolute;
		right: 0;
		bottom: -7.5px;

		font-size: 1rem;
		text-shadow: none;
		color: var(--add);
	}
}
