.overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 15;
	top: 0;
	left: 0;

	display: grid;
	grid-template-columns: repeat(4, 25%);
}

.block {
	background-color: var(--violet);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--jsf-font);
	font-size: clamp(3rem, 6vw, 6rem);
	color: #3a0881;
	text-transform: uppercase;
}
