.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	background-color: var(--main);
	padding: 0 25px;
	border-bottom: 3px solid var(--spec);

	width: 100vw;
	overflow-x: hidden;
	padding-right: 33px;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
	padding: 20px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family: var(--jsf-font);
	font-size: clamp(1.65rem, 8vw, 2.2rem);
	letter-spacing: -1.5px;
	color: var(--violet);
	cursor: pointer;
	transition: color 0.2s;

	position: relative;
	margin-left: 1rem;

	h1 {
		line-height: 0.8;
		padding-top: 5px;
	}

	&::before {
		content: "<";
		display: inline-block;
		color: var(--add);
		position: absolute;
		top: 0;
		left: -0.5em;
		height: 100%;
		transition-property: color, left;
		transition-duration: 0.2s;
	}

	&::after {
		content: "/>";
		display: inline-block;
		color: var(--add);
		position: absolute;
		top: 0;
		right: -1.15em;
		height: 100%;
		transition-property: color, right;
		transition-duration: 0.2s;
	}

	&:hover {
		&::before {
			left: -30px;
		}

		&::after {
			right: -50px;
		}
	}

	&:focus-visible {
		outline: none;
		color: var(--yellow);

		&::before,
		&::after {
			color: var(--light);
		}
	}
}

.nav {
	display: flex;
	align-items: center;
	column-gap: 15px;
	margin-bottom: 5px;
}

.burger-btn {
	width: 45px;
	height: 45px;
	transition-property: border-color, opacity, translate;
	transition-duration: 0.25s;
	display: none;

	svg {
		width: 100%;
		height: 100%;
		rotate: 180deg;
		fill: var(--violet);
		transition: fill 0.25s;
	}

	&:hover {
		border-color: var(--add);

		svg {
			fill: var(--light);
		}
	}

	&:active {
		opacity: 0.75;
		translate: 0 3px;
	}

	&:focus-visible {
		border-color: var(--add);

		svg {
			fill: var(--yellow);
		}
	}
}

@media (max-width: 768px) {
	.header {
		padding-right: 25px;
	}

	.nav {
		display: none;
	}

	.burger-btn {
		display: block;
	}
}
