.blog {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	background-color: var(--main);
	padding: 0 25px;
	border-bottom: 3px solid var(--spec);
	width: 100vw;
	padding-right: 35px;

	.wrapper {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		font-family: var(--jsf-font);
		font-size: clamp(1.65rem, 8vw, 2.2rem);
		letter-spacing: -1.5px;
		color: var(--violet);
		cursor: pointer;
		transition: color 0.2s;

		position: relative;
		margin-left: 1rem;

		h1 {
			line-height: 0.8;
			padding-top: 5px;
		}

		&::before {
			content: "<";
			display: inline-block;
			color: var(--add);
			position: absolute;
			top: 0;
			left: -0.5em;
			height: 100%;
			transition-property: color, left;
			transition-duration: 0.2s;
		}

		&::after {
			content: "/>";
			display: inline-block;
			color: var(--add);
			position: absolute;
			top: 0;
			right: -1.15em;
			height: 100%;
			transition-property: color, right;
			transition-duration: 0.2s;
		}

		&:hover {
			&::before {
				left: -30px;
			}

			&::after {
				right: -50px;
			}
		}

		&:focus-visible {
			outline: none;
			color: var(--yellow);

			&::before,
			&::after {
				color: var(--light);
			}
		}
	}
}

.main {
	width: 100%;
	height: 100%;
	margin-top: 90px;
	padding: 25px;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.main-heading {
	font-family: var(--jost-font);
	font-size: 2.6rem;
	font-weight: 600;
	color: var(--violet);
	text-shadow: 2.5px 2.5px 1px #5e0ecf65;
	margin-bottom: 35px;

	position: relative;

	&::after {
		content: "by Qaddis";
		position: absolute;
		right: 0;
		bottom: -7.5px;

		font-size: 1rem;
		text-shadow: none;
		color: var(--add);
	}
}

.heading {
	font-family: var(--jost-font);
	font-size: 1.65rem;
	font-weight: 600;

	b {
		font-weight: inherit;
		color: var(--violet);
	}
}

.history {
	.heading {
		margin-bottom: 25px;
		text-align: center;
	}

	&__container {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	&__card {
		width: 100%;
		display: flex;
		align-items: center;
		column-gap: 15px;

		h4 {
			font-size: 3rem;
			color: var(--violet);
			text-shadow: 2.5px 2.5px 1px #5e0ecf65;
		}

		p {
			max-width: 65%;

			i,
			b {
				color: var(--violet);
			}
		}

		&.--right {
			flex-direction: row-reverse;

			p {
				text-align: right;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		padding-right: 25px;
	}
}
