:root {
	--main: #212121;
	--add: #5e5e5e;
	--darker-add: #303030;
	--spec: #3e3d3d;
	--light: #eaebed;
	--violet: #6c22e3;
	--darker-violet: #3b237f;
	--yellow: #fafa60;

	--h2-size: clamp(1.85rem, 6vw, 2.5rem);
	--h3-size: clamp(1.55rem, 5vw, 1.9rem);
}
